.FooterNav{
    background-color: rgb(243, 239, 239);
    width: 100%;
    height: 300px;
}
.tbl{
    padding: 50px;
}
.tbl2{
    padding-left: 10px;
}
.tbl3{
    padding-left: 45px;
    
}
.tbl4{
    text-align: left;
    padding-left: 45px;
}
.tbl5{
    padding-bottom: 20px;
}
.btn{
    background-color: rgb(241, 28, 28);
    color: white;
    width: 85px;
    height: 38px;
    border: none;
    text-align: center;
}
.inputText{
    border: solid gray 0.5px;
    width: 140px;
    height: 34px;
    text-align: center;
}
.FootEnd{
    background-color: rgb(22, 22, 22);
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 10px;
}
.logoimg{
    width: 0px;
    height: 0px;

}